@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap");

body {
  background-color: #1a1414;
  color: #decccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Catamaran", sans-serif;
}

/* input area */
form input {
  background-color: transparent;
  border: 0px solid transparent;
  color: transparent;
  cursor: none;
  width: 100%; /* i want the user to be able to click anywhere on the screen to input - not currently working */
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

form input:focus {
  outline: none;
  border: none;
}

/* borders */
.success {
  border: 2px solid green;
}
.failure {
  border: 2px dotted red;
}

/* char spans */
.wrong {
  color: red;
  font-size: 2rem;
  font-weight: 600;
}
.right {
  color: green;
  font-size: 2rem;
  font-weight: 600;
}
.unmarked {
  color: gray;
  font-size: 2rem;
  font-weight: 600;
}
